<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
<!--    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>DBConnection</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventServlet</servlet-name>
        <servlet-class>CreateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicketServlet</servlet-name>
        <servlet-class>BookTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventServlet</servlet-name>
        <url-pattern>/CreateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketServlet</servlet-name>
        <url-pattern>/BookTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelTicketServlet</servlet-name>
        <servlet-class>CancelTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelTicketServlet</servlet-name>
        <url-pattern>/CancelTicketServlet</url-pattern>
    </servlet-mapping>-->
</web-app>
